@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.messages {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    gap: 8px;
    text-align: center;
    width: 100%;

    border: 2px #ebebec solid;
}

.title {
    margin: 5px 0;
}

.contacts {
    width: 30%;
    height: 452px;
    margin-top: 10px;
    border-radius: 25px;

    background-color: #ffffff;
}

.dialogs {
    width: 100%;
    height: 452px;
    margin-top: 10px;
    border: 2px #ebebec solid;
    border-radius: 25px;

    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dialogsInner {
    border: 2px #ebebec solid;
    border-radius: 25px;
    margin: 10px 10px;
    /* height: 100%; */

    overflow: scroll;
    height: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.dialogs textarea {
    min-height: 50px;
    max-width: 200px;

    border: 2px solid black;
    border-radius: 25px;
    padding: 5px 15px;

    resize: none;
}